<%- include('top') %>
<div id="app">
  <h1><%= title %></h1>
  <div>
    <p>ID: <%= student.id %></p>
    <p>Name: <%= student.name %></p>
    <p>Age: <%= student.age %></p>
    <p>Score: <%= student.score %></p>
  </div>
</div>
<%- include('bottom') %>
