<%- include('top') %>
<div id="app">
  <h1><%= title %></h1>
  <ul>
    <% list.map(({id, name}) => {%>
      <li>
        <a href="http://localhost:8080/detail/<%= id %>"><%= name %></a>
      </li>
    <% }) %>
  </ul>
</div>
<%- include('bottom') %>
